

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Writing a custom AST Provider &mdash; NEAL 0.2.4 documentation</title>
  

  
  
  
  

  

  
  
    

  

  
  
    <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  

  

  
        <link rel="index" title="Index"
              href="../genindex.html"/>
        <link rel="search" title="Search" href="../search.html"/>
    <link rel="top" title="NEAL 0.2.4 documentation" href="../index.html"/>
        <link rel="up" title="Writing your own components" href="index.html"/>
        <link rel="next" title="Contributing" href="../developing.html"/>
        <link rel="prev" title="Writing a custom Reporter" href="reporters.html"/> 

  
  <script src="../_static/js/modernizr.min.js"></script>

</head>

<body class="wy-body-for-nav" role="document">

   
  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search">
          

          
            <a href="../index.html" class="icon icon-home"> NEAL
          

          
          </a>

          
            
            
              <div class="version">
                0.2.4
              </div>
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../index.html">Getting Started</a></li>
<li class="toctree-l1"><a class="reference internal" href="../rules.html">Tutorial: Writing a new rule</a></li>
<li class="toctree-l1"><a class="reference internal" href="../testing_rules.html">Testing your rules</a></li>
<li class="toctree-l1"><a class="reference internal" href="../reference.html">Rule Language Reference</a></li>
<li class="toctree-l1"><a class="reference internal" href="../configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../basics.html">How it works?</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="index.html">Writing your own components</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="index.html">Introduction</a></li>
<li class="toctree-l2"><a class="reference internal" href="reporters.html">Writing a custom Reporter</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Writing a custom AST Provider</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../developing.html">Contributing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../changelog.html">Changelog</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">NEAL</a>
        
      </nav>


      
      <div class="wy-nav-content">
        <div class="rst-content">
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
          <li><a href="index.html">Writing your own components</a> &raquo;</li>
        
      <li>Writing a custom AST Provider</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/components/providers.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="writing-a-custom-ast-provider">
<h1>Writing a custom AST Provider<a class="headerlink" href="#writing-a-custom-ast-provider" title="Permalink to this headline">¶</a></h1>
<p>AST Providers in NEAL are responsible for adding support for a new language. They must conform to a small interface, and have complete ownership over the analysis to be done.</p>
<p>They can either do take care of parsing internally, e.g. using a parser written in OCaml (like the <a class="reference external" href="https://github.com/uber/NEAL/blob/master/src/providers/swift/swift_provider.ml">Swift provider</a>) or call out to an external parser (like the <a class="reference external" href="https://github.com/uber/NEAL/blob/master/src/providers/python/python.ml">Python provider</a>).</p>
<p>Either way, they must conform to the following interface:</p>
<div class="highlight-ocaml"><div class="highlight"><pre><span></span><span class="k">module</span> <span class="k">type</span> <span class="nc">PROVIDER</span> <span class="o">=</span> <span class="k">sig</span> <span class="k">val</span> <span class="n">name</span><span class="o">:</span> <span class="kt">string</span>
  <span class="k">val</span> <span class="n">extensions</span><span class="o">:</span> <span class="kt">string</span> <span class="kt">list</span>
  <span class="k">val</span> <span class="n">parse</span><span class="o">:</span> <span class="n">filename</span> <span class="o">-&gt;</span> <span class="n">source</span> <span class="o">-&gt;</span> <span class="nn">Absyn</span><span class="p">.</span><span class="n">absyn</span>
  <span class="k">val</span> <span class="n">exports</span> <span class="o">:</span> <span class="o">(</span><span class="n">function_name</span> <span class="o">*</span> <span class="n">exported_function</span><span class="o">)</span> <span class="kt">list</span>
<span class="k">end</span>
</pre></div>
</div>
<p>With the following type aliases:</p>
<div class="highlight-ocaml"><div class="highlight"><pre><span></span><span class="k">type</span> <span class="n">exported_function</span> <span class="o">=</span> <span class="nn">Ctx</span><span class="p">.</span><span class="n">ctx</span> <span class="o">-&gt;</span> <span class="nn">Rule</span><span class="p">.</span><span class="n">literal</span> <span class="kt">list</span> <span class="o">-&gt;</span> <span class="nn">Rule</span><span class="p">.</span><span class="n">literal</span>
<span class="k">type</span> <span class="n">filename</span> <span class="o">=</span> <span class="kt">string</span>
<span class="k">type</span> <span class="n">source</span> <span class="o">=</span> <span class="kt">string</span>
<span class="k">type</span> <span class="n">function_name</span> <span class="o">=</span> <span class="kt">string</span>
</pre></div>
</div>
<div class="section" id="using-a-custom-provider">
<h2>Using a custom provider<a class="headerlink" href="#using-a-custom-provider" title="Permalink to this headline">¶</a></h2>
<ul class="simple">
<li>Custom providers must be compiled to a <code class="docutils literal"><span class="pre">.cmxs</span></code> file, which is OCaml’s dynamic library format (as described <a class="reference external" href="../components#plugins">here</a>);</li>
<li>They must have <code class="docutils literal"><span class="pre">.provider</span></code> suffix before the <code class="docutils literal"><span class="pre">.cmxs</span></code> extension, e.g. <code class="docutils literal"><span class="pre">swift.provider.cmxs</span></code>;</li>
<li>You must tell NEAL the path to your provider (using the <code class="docutils literal"><span class="pre">-p</span></code>/<code class="docutils literal"><span class="pre">--provider</span></code> <a class="reference external" href="../configuration.html#flags">configuration flag</a>).</li>
</ul>
<p>After that NEAL should already be able to parse files using your new provider and evaluate rules that target it.</p>
<p>## Examples</p>
<p>Here we’ll use the two providers currently available with NEAL to illustrate the two use cases:</p>
<div class="section" id="swift-provider">
<h3><a class="reference external" href="https://github.com/uber/NEAL/blob/master/src/providers/swift/swift_provider.ml">Swift provider</a><a class="headerlink" href="#swift-provider" title="Permalink to this headline">¶</a></h3>
<p>Here’s the current implementation (we’ll discuss it below):</p>
<div class="highlight-ocaml"><div class="highlight"><pre><span></span><span class="nn">Provider</span><span class="p">.</span><span class="n">register</span><span class="o">(</span><span class="k">module</span> <span class="k">struct</span>
  <span class="k">let</span> <span class="n">name</span> <span class="o">=</span> <span class="s2">&quot;Swift&quot;</span>
  <span class="k">let</span> <span class="n">extensions</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;.swift&quot;</span><span class="o">]</span>
  <span class="k">let</span> <span class="n">parse</span> <span class="n">filename</span> <span class="n">source</span> <span class="o">=</span> <span class="nn">Parser</span><span class="p">.</span><span class="n">parse</span> <span class="n">filename</span> <span class="n">source</span>
  <span class="k">let</span> <span class="n">exports</span> <span class="o">=</span> <span class="o">[</span>
    <span class="o">(</span><span class="s2">&quot;inheritsFrom&quot;</span><span class="o">,</span> <span class="n">inherits_from</span><span class="o">)</span>
  <span class="o">]</span>
<span class="k">end</span><span class="o">)</span>
</pre></div>
</div>
<p>What this provider is saying is:
* Its name is <cite>Swift</cite>, i.e. the provider name you’ll use in a <a class="reference external" href="../rules.html">rule</a> to reference to this provider is <cite>Swift</cite>.
* It can parse files that have the <cite>.swift</cite> extension. (It should always include the <cite>.</cite>)
* Parsing is delegate to <cite>Parser.parse</cite>, which in this case is a Swift parser implemented in OCaml.
* It exports a function called <cite>inheritsFrom</cite>, and its implementation is the OCaml function <cite>inherits_from</cite>. (Which should have the <cite>exported_function</cite> type from above.)</p>
</div>
<div class="section" id="python-provider">
<h3><a class="reference external" href="https://github.com/uber/NEAL/blob/master/src/providers/python/python.ml">Python provider</a><a class="headerlink" href="#python-provider" title="Permalink to this headline">¶</a></h3>
<p>The actual Python provider module looks very similar to the Swift one:</p>
<div class="highlight-ocaml"><div class="highlight"><pre><span></span><span class="k">let</span> <span class="bp">()</span> <span class="o">=</span> <span class="nn">Provider</span><span class="p">.</span><span class="n">register</span><span class="o">(</span><span class="k">module</span> <span class="k">struct</span>
  <span class="k">let</span> <span class="n">name</span> <span class="o">=</span> <span class="s2">&quot;Python&quot;</span>
  <span class="k">let</span> <span class="n">extensions</span> <span class="o">=</span> <span class="o">[</span><span class="s2">&quot;.py&quot;</span><span class="o">]</span>
  <span class="k">let</span> <span class="n">parse</span> <span class="o">=</span> <span class="n">parse</span>
  <span class="k">let</span> <span class="n">exports</span> <span class="o">=</span> <span class="bp">[]</span>
<span class="k">end</span><span class="o">)</span>
</pre></div>
</div>
<p>The main different is the <code class="docutils literal"><span class="pre">parse</span></code> function. Here, instead of actually parsing the file and generating the AST all in OCaml, it calls out to a script which uses the parser built into the python interpreter to generate the AST and dumps it as JSON.</p>
<div class="highlight-ocaml"><div class="highlight"><pre><span></span><span class="k">let</span> <span class="n">exec_name</span> <span class="o">=</span> <span class="nn">Neal</span><span class="p">.</span><span class="nn">Utils</span><span class="p">.</span><span class="n">relative_path</span> <span class="s2">&quot;providers/helpers/dump_python_ast.py&quot;</span>

<span class="k">let</span> <span class="n">parse</span> <span class="n">filename</span> <span class="o">_</span> <span class="o">=</span>
  <span class="k">let</span> <span class="n">cmd</span> <span class="o">=</span> <span class="nn">Printf</span><span class="p">.</span><span class="n">sprintf</span> <span class="s2">&quot;%s %s&quot;</span> <span class="n">exec_name</span> <span class="n">filename</span> <span class="k">in</span>
  <span class="k">let</span> <span class="n">stdout</span> <span class="o">=</span> <span class="nn">Unix</span><span class="p">.</span><span class="n">open_process_in</span> <span class="n">cmd</span> <span class="k">in</span>
  <span class="k">let</span> <span class="n">json</span> <span class="o">=</span> <span class="nn">Yojson</span><span class="p">.</span><span class="nn">Safe</span><span class="p">.</span><span class="n">from_channel</span> <span class="n">stdout</span> <span class="k">in</span>
  <span class="k">let</span> <span class="o">_</span> <span class="o">=</span> <span class="nn">Unix</span><span class="p">.</span><span class="n">close_process_in</span> <span class="n">stdout</span> <span class="k">in</span>
  <span class="n">absyn_of_json</span> <span class="n">json</span>
</pre></div>
</div>
<p>The implementation of <code class="docutils literal"><span class="pre">absyn_of_json</span></code> simply takes the JSON parsed using <a class="reference external" href="https://github.com/mjambon/yojson">yojson</a> and converts it to NEAL’s AST type. You can check the <a class="reference external" href="Pythonprovider">source code</a>, but here will ignore it as an implementation detail.</p>
</div>
</div>
</div>


           </div>
           <div class="articleComments">
            
           </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../developing.html" class="btn btn-neutral float-right" title="Contributing" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="reporters.html" class="btn btn-neutral" title="Writing a custom Reporter" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2017, Tadeu Zagallo.

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  

    <script type="text/javascript">
        var DOCUMENTATION_OPTIONS = {
            URL_ROOT:'../',
            VERSION:'0.2.4',
            COLLAPSE_INDEX:false,
            FILE_SUFFIX:'.html',
            HAS_SOURCE:  true,
            SOURCELINK_SUFFIX: '.txt'
        };
    </script>
      <script type="text/javascript" src="../_static/jquery.js"></script>
      <script type="text/javascript" src="../_static/underscore.js"></script>
      <script type="text/javascript" src="../_static/doctools.js"></script>

  

  
  
    <script type="text/javascript" src="../_static/js/theme.js"></script>
  

  
  
  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.StickyNav.enable();
      });
  </script>
   

</body>
</html>